* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: auto;
  height: 10vh;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid;
}

.brand {
  height: 27px;
  width: 150px;
}

.nav {
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  width: 100%;
  margin: auto;
}

.link {
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
}

.cheff {
  margin: 2%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid;
}

.sub-prueba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
}

.chef-pic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 7%;
}

.box-1 {
  margin: 5%;
}

footer {
  padding: 65px 0 10px;
  background-color: #231f20;
  position: relative;
  color: #ffffff;
  display: block;
}

@media screen and (max-width: 780px) {
  footer {
    padding: 25px 0 74px;
  }
}
footer .mobile-p {
  display: none;
}

@media screen and (max-width: 780px) {
  footer .mobile-p {
    display: block;
  }
}
footer .flex-end {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 25%;
}

@media screen and (max-width: 780px) {
  footer .flex-end {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer .flex-end .row-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 780px) {
  footer .flex-end .row-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
footer .flex-end li span {
  color: #ffffff;
}

footer .flex-end .line-social {
  text-decoration: underline;
}

footer .flex-start {
  width: 75%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

@media screen and (max-width: 780px) {
  footer .flex-start {
    width: 100%;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}
footer .flex-start .row {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 780px) {
  footer .flex-start .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
  }
}
footer .column-footer {
  width: 25%;
  text-align: right;
}

@media screen and (max-width: 780px) {
  footer .column-footer {
    width: 120px;
  }
}
footer .column-none {
  display: block;
}

@media screen and (max-width: 780px) {
  footer .column-none {
    display: none;
  }
}
footer .column-mobile {
  display: none;
}

@media screen and (max-width: 780px) {
  footer .column-mobile {
    display: block;
  }
}
footer .flex-row {
  width: 58%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 780px) {
  footer .flex-row {
    display: none;
  }
}
footer .flex-row p {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

footer .flex-row span {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 6px;
}

footer .flex-row .check {
  margin-right: 21px;
  color: #ffffff;
  display: inline-block;
  width: 12px;
  height: 12px;
}

footer .row {
  max-width: 1230px;
  padding: 0;
  margin: 0 auto;
  -webkit-box-flex: flex;
      -ms-flex: flex;
          flex: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

@media screen and (max-width: 780px) {
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 56px 0 20px;
  }
}
footer .row .ul-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .row .ul-footer li {
  margin-top: 15px;
  text-align: left;
}

footer .row .ul-footer li span.live_chat {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

footer .row .ul-footer li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

footer .row .ul-footer li a .cookunity-app-store {
  max-width: 119.66px;
  margin-top: 36px;
}

@media screen and (max-width: 780px) {
  footer .row .ul-footer li a .cookunity-app-store {
    max-width: 117.92px;
    margin-top: 26px;
  }
}/*# sourceMappingURL=style.css.map */